:root {
    --accent-color: #2196f3;
    --text-title-color: #212121;
    --text-color: #757575;
    --icons-color: #afb1b8;
    --primary-white-color: #ffffff;
    --dark-bg-color: #2f303a;
    --accent-bg-color: #f5f4fa;
    --section-text-set: 4;
    --section-text-set-gap: 30px;
    --team-list-set: 4;
    --team-list-set-gap: 30px;
    --section-foto-set: 3;
    --section-foto-set-gap: 30px;
    --section-button-footer: 15px;
    --section-clients-set: 6;
    --section-clients-set-gap: 30px;
    --section-filter-link-set: 3;
    --section-filter-link-gap: 30px;
  
    --bg-jobs-text: rgba(47, 48, 58, 0.8);
    --section-jobs-list-set: 3;
    --section-jobs-list-set-gap: 30px;
    --transition-transform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --description-list-set: 4;
    --description-list-set-gap: 30px;
    --animation-box: rgba(33, 150, 243, 0.9);
    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --filter-cards-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --filter-button-swdow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }